@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

/* *{
    overflow-x: hidden;
} */

.over::-webkit-scrollbar{
    display: none;
}
/* index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
